@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-black: #000000;
  --color-skyblue: #0c8ed5;
  --color-choco: #c1ada2;
  --color-darkblue: #112259;
}

.title-head h3 {
  text-align: center;
  color: var(--color-black);
  padding-top: 4rem;
  font-weight: 600;
  margin-left: 3rem;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  display: inline-block;
  position: relative;
  font-family: Oswald;
}

.title-head span {
  color: var(--color-skyblue);
}

.title-head p {
  text-align: left;
  color: var(--color-black);
  margin-top: 1rem;
  padding: 0 2rem;
  margin-top: 2rem;
  letter-spacing: 2px;
}

.content-head {
  text-align: left;
  font-weight: 600;
  text-decoration: underline;
  font-family: Oswald;
}

.content-head h2 {
  color: var(--color-black);
  font-weight: 600;
  letter-spacing: 0.3rem;
  margin-left: 3rem;
  display: inline-block;
  position: relative;
  font-size: 3rem;
}

.content-head span {
  color: var(--color-skyblue);
}

img {
  width: 100%;
}

.titleimg img {
  padding-top: 4rem;
  height: 90%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.grid-3 img {
  width: 100%;
  border-radius: 5px;
}

.slick-prev::before {
  display: none;
}

.slick-next::before {
  display: none;
}



@media only screen and (max-width: 950px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .content-head .title-head {
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .content-head h2 {
    font-size: 30px;
    text-align: center;
  }

  .title-head h3 {
    font-size: 30px;
    text-align: center;
    padding: 0;
    padding-top: 2rem;
    margin: 0;
  }

  .optionchoose {
    padding-bottom: 1rem;
    margin: 0;
    margin-left: 1rem;
    
  }

  .phoneres {
    padding: 0;
    margin: 0;
  }

  .item {
    padding: 0;
    margin: 0;
  }

  .subbtn {
    padding-bottom: 2rem;
  }

  .pocketicon {
    padding-right: 1rem;
  }

  .slick-prev::before {
    display: none;
}

.slick-next::before {
    display: none;
}

}

@media (max-width: 767px) {
  .slick-prev::before {
      display: none;
  }

  .slick-next::before {
      display: none;
  }
}

@media only screen and (max-width: 350px) {
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .slick-prev::before {
    display: none;
}

.slick-next::before {
    display: none;
}
}
